deployments
translations
istio-1.0.4
*.out
output
*.log
.DS_Store
shunit2
vendor
flux
kubediff
gitops_repo_key
#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars